<div class="container-fluid">
    <div class="row border-bottom">
        <div class="d-md-flex justify-content-evenly">
            <div class="dropdown">
                <button class="dropbtn text-black lead fs-5 mb-header__sub__tabs__link js-menu-link active">Buy
                    <em class="fa fa-angle-down"></em>
                </button>
                <div class="dropdown-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="lead">Popular Choices</h5>
                                <hr>
                                <span class="lead fs-6">Ready To Move</span>
                                <span class="lead fs-6">Owner Properties</span>
                                <span class="lead fs-6">Budgets Homes</span>
                            </div>
                            <div class="col">
                                <h5 class="lead">Property Types</h5>
                                <hr>
                                <a href=""> <span class="lead fs-6">Flats in </span></a>
                                <a href=""> <span class="lead fs-6">House for Sale in</span></a>
                                <a href=""> <span class="lead fs-6">Villa in</span></a>
                                <a href=""> <span class="lead fs-6">Plot in</span></a>
                                <a href=""> <span class="lead fs-6">Office Space in</span></a>
                                <a href=""><span class="lead fs-6">Commercial Space in</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Budget </h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Under <i class="fa fa-rupee" aria-hidden="true"></i>50
                                        Lac</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i> 50 Lac - <i
                                            class="fa fa-rupee" aria-hidden="true"></i>1 Cr</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i>1 Cr - <i
                                            class="fa fa-rupee" aria-hidden="true"></i> 1.5 Cr</span></a>
                                <a href=""> <span class="lead fs-6">Above <i class="fa fa-rupee" aria-hidden="true"></i>1.5
                                        Cr</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Explore</h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Builders in</span></a>
                                <a href=""><span class="lead fs-6">Localities in</span></a>
                                <a href=""><span class="lead fs-6">Projects in</span></a>
                                <a href=""><span class="lead fs-6">Investment in</span></a>
                                <a href=""><span class="lead fs-6">Find an Agent</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Buying Tools</h5>
                                <hr>
                                <a href=""><span class="lead fs-6">PropWorth</span></a>
                                <a href=""><span class="lead fs-6">Rates and Trend</span></a>
                                <a href=""><span class="lead fs-6">Buy vs Rent</span></a>
                                <a href=""><span class="lead fs-6">Tips and Guides</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn text-black lead fs-5 mb-header__sub__tabs__link js-menu-link active">Rent
                    <em class="fa fa-angle-down"></em>
                </button>
                <div class="dropdown-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="lead">Popular Choices</h5>
                                <hr>
                                <a href="">
                                    <span class="lead fs-6">Owner Properties</span>
                                </a>
                                <a href="">
                                    <span class="lead fs-6">Verified Properties</span>
                                </a>
                                <a href="">
                                    <span class="lead fs-6">Furnished Homes</span>
                                </a>
                                <a href="">
                                    <span class="lead fs-6">Bachelor friendly Homes</span>
                                </a>
                                <a href="">
                                    <span class="lead fs-6">Immediatly Available</span>
                                </a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Property Types</h5>
                                <hr>
                                <a href=""> <span class="lead fs-6">Flats For Rent in </span></a>
                                <a href=""> <span class="lead fs-6">House for Rent in</span></a>
                                <a href=""> <span class="lead fs-6">Villa For Rent in</span></a>
                                <a href=""> <span class="lead fs-6">PentHouse in</span></a>
            
                            </div>
                            <div class="col">
                                <h5 class="lead">Budget </h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Under <i class="fa fa-rupee" aria-hidden="true"></i>10
                                        000</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i> 10, 000 - <i
                                            class="fa fa-rupee" aria-hidden="true"></i>15, 000</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i>15, 000 - <i
                                            class="fa fa-rupee" aria-hidden="true"></i> 25, 000 </span></a>
                                <a href=""> <span class="lead fs-6">Above <i class="fa fa-rupee" aria-hidden="true"></i>25,
                                        000</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Explore</h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Localities</span></a>
                                <a href=""><span class="lead fs-6">Buy vs Rent</span></a>
                                <a href=""><span class="lead fs-6">Find Agent</span></a>
                                <a href=""><span class="lead fs-6">Share Requirement</span></a>
                                <a href=""><span class="lead fs-6">Property Services</span></a>
                                <a href=""><span class="lead fs-6">Rent Agreement</span></a>
                                <a href=""><span class="lead fs-6">Pay Rent <span class="bg-warning">upto <i class="fa fa-rupee"
                                                aria-hidden="true"></i>3k off</span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn text-black lead fs-5 mb-header__sub__tabs__link js-menu-link active">Sell
                    <em class="fa fa-angle-down"></em>
                </button>
                <div class="dropdown-content">
                    <div class="container-fluid" style="width: 590px!important;">
                        <div class="row">
                            <div class="col">
                                <h5 class="lead">For Owner</h5>
                                <hr>
                                <a [routerLink]="['/postproperty']">
                                    <span class="lead fs-6">Post Property <span class="bg-warning">free</span></span>
                                </a>
                                <a [routerLink]="['/dashboard']" >
                                    <span class="lead fs-6">My Dashboard</span>
                                </a>
            
                                <hr>
                                <a href="">
                                    <span class="lead fs-6">Sell/Rent Ad Packages</span>
                                </a>
                                <p>
                                    <span>+91 9870 260 930/ <a href="">Email us</a></span>
                                </p>
                            </div>
                            <div class="col">
                                <h5 class="lead">For Agent & Builder</h5>
                                <hr>
                                <a [routerLink]="['/dashboard']"> <span class="lead fs-6">My Dashboard</span></a>
                                <a href=""> <span class="lead fs-6">Ad Packages</span></a>
                                <a href=""> <span class="lead fs-6">iAdvantage</span></a>
                                <a href=""> <span class="lead fs-6">Developer Lounge</span></a>
                                <a href=""> <span class="lead fs-6">Office Space in</span></a>
                                <a href=""> <span class="lead fs-6">Sales Enquiry</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Selling Tools</h5>
                                <hr>
                                <a href=""><span>Property Valuation</span></a>
                                <a href=""> <span class="lead fs-6">Find An Agent</span></a>
                                <a href=""> <span class="lead fs-6">Rates and Trends</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- <div class="dropdown">
                <button class="dropbtn text-black lead fs-5 mb-header__sub__tabs__link js-menu-link active">Home loans
                    <em class="fa fa-angle-down"></em>
                </button>
                <div class="dropdown-content">
                    <div class="container-fluid" style="width: 1150px!important;">
                        <div class="row">
                            <div id="demo" class="carousel slide" data-bs-ride="carousel">
                              
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <h5 class="lead">Applly Now</h5>
                                                    <hr>
                                                    <a href="">
                                                        <span class="lead fs-6">Home Loans</span>
                                                    </a>
                                                    <a href="">
                                                        <span class="lead fs-6">Balance Transfer</span>
                                                    </a>
                                                    <a href="">
                                                        <span class="lead fs-6">Loan Against Property</span>
                                                    </a>
                                                    <a href="">
                                                        <span class="lead fs-6">Preapproved Home Loan</span>
                                                    </a>
                                                    <a href="">
                                                        <span class="lead fs-6">Loan Against Property Pack</span>
                                                    </a>
                                                    <a href="">
                                                        <span class="lead fs-6 bg-warning">upto <i class="fa fa-rupee"
                                                                aria-hidden="true"></i>90K
                                                            cashback</span>
                                                    </a>
            
                                                </div>
                                                <div class="col">
                                                    <h5 class="lead">Bank Partners</h5>
                                                    <hr>
                                                    <a href=""> <span class="lead fs-6">SBI Home Loan </span></a>
                                                    <a href=""> <span class="lead fs-6">HDFC ltd Home Loan</span></a>
                                                    <a href=""> <span class="lead fs-6">PNB HFL Home Loan</span></a>
                                                    <a href=""> <span class="lead fs-6">ICICI Home Loan</span></a>
                                                    <a href=""> <span class="lead fs-6">Bajaj Housing</span></a>
                                                    <a href=""><span class="lead fs-6">Bank of Baroda</span></a>
                                                    <a href=""><span class="lead fs-6">Indian Bank Home Loan</span></a>
                                                    <a href=""><span class="lead fs-6">Cholamandalam HFL Home Loan</span></a>
                                                </div>
                                                <div class="col">
                                                    <h5 class="lead">PMAY </h5>
                                                    <hr>
                                                    <a href=""><span class="lead fs-6">PMAY EMI Calculator</span></a>
                                                    <a href=""> <span class="lead fs-6">PMAY Subsidy Calculator</span></a>
                                                    <a href=""> <span class="lead fs-6">PMAY Eligibility Calculator</span></a>
                                                </div>
                                                <div class="col">
                                                    <h5 class="lead">EMI Calculators</h5>
                                                    <hr>
                                                    <a href=""><span class="lead fs-6">Home Loan EMI Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">HDFC Home Loan Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">SBI Home Loan Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">ICICI Home Loan Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">PNB HFL Home Loan Calculator</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="container">
                                            <div class="row">
            
                                                <div class="col-3">
                                                    <h5 class="lead">Eligilibility Calculator</h5>
                                                    <hr>
                                                    <a href=""><span class="lead fs-6">Home Loan Eligibility Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">HDFC Home Loan Eligibility Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">SBI Home Loan Eligibility Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">ICICI Home Loan Eligibility calculator</span></a>
                                                    <a href=""><span class="lead fs-6">PNB HFL Home Loan Eligibility Calculator</span></a>
                                                </div>
                                                <div class="col-3">
                                                    <h5 class="lead">UseFul Links</h5>
                                                    <hr>
                                                    <a href=""><span class="lead fs-6">Home Loan Document required</span></a>
                                                    <a href=""><span class="lead fs-6">Home Loan Interest Rate</span></a>
                                                    <a href=""><span class="lead fs-6">Home Loan Prepayment Calculator</span></a>
                                                    <a href=""><span class="lead fs-6">Home Loan Balance Transfer</span></a>
                                                    <a href=""><span class="lead fs-6">Home Loan Tax Transfer</span></a>
            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev bg-danger align-middle top-50 rounded-circle shadow-lg "
                                    style="width: 25px;height: 25px;" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next bg-danger align-middle top-50 rounded-circle" style="width: 25px;height: 25px;" type="button"
                                    data-bs-target="#demo" data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
            
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="dropdown">
                <button class="dropbtn text-black lead fs-5 mb-header__sub__tabs__link js-menu-link active">Property Services
                    <span class="fa" [ngClass]="{'fa-caret-down':reverse,'fa-caret-up':!reverse}"></span>
                </button>
                <div class="dropdown-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="lead">Popular Choices</h5>
                                <hr>
                                <span class="lead fs-6">Ready To Move</span>
                                <span class="lead fs-6">Owner Properties</span>
                                <span class="lead fs-6">Budgets Homes</span>
                            </div>
                            <div class="col">
                                <h5 class="lead">Property Types</h5>
                                <hr>
                                <a href=""> <span class="lead fs-6">Flats in </span></a>
                                <a href=""> <span class="lead fs-6">House for Sale in</span></a>
                                <a href=""> <span class="lead fs-6">Villa in</span></a>
                                <a href=""> <span class="lead fs-6">Plot in</span></a>
                                <a href=""> <span class="lead fs-6">Office Space in</span></a>
                                <a href=""><span class="lead fs-6">Commercial Space in</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Budget </h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Under <i class="fa fa-rupee" aria-hidden="true"></i>50
                                        Lac</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i> 50 Lac - <i
                                            class="fa fa-rupee" aria-hidden="true"></i>1 Cr</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i>1 Cr - <i
                                            class="fa fa-rupee" aria-hidden="true"></i> 1.5 Cr</span></a>
                                <a href=""> <span class="lead fs-6">Above <i class="fa fa-rupee" aria-hidden="true"></i>1.5
                                        Cr</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Explore</h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Builders in</span></a>
                                <a href=""><span class="lead fs-6">Localities in</span></a>
                                <a href=""><span class="lead fs-6">Projects in</span></a>
                                <a href=""><span class="lead fs-6">Investment in</span></a>
                                <a href=""><span class="lead fs-6">Find an Agent</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Buying Tools</h5>
                                <hr>
                                <a href=""><span class="lead fs-6">PropWorth</span></a>
                                <a href=""><span class="lead fs-6">Rates and Trend</span></a>
                                <a href=""><span class="lead fs-6">Buy vs Rent</span></a>
                                <a href=""><span class="lead fs-6">Tips and Guides</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="dropdown">
                <button class="dropbtn text-black lead fs-5 mb-header__sub__tabs__link js-menu-link active">MB Advice
                    <em class="fa fa-angle-down"></em>
                </button>
                <div class="dropdown-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="lead">Popular Choices</h5>
                                <hr>
                                <span class="lead fs-6">Ready To Move</span>
                                <span class="lead fs-6">Owner Properties</span>
                                <span class="lead fs-6">Budgets Homes</span>
                            </div>
                            <div class="col">
                                <h5 class="lead">Property Types</h5>
                                <hr>
                                <a href=""> <span class="lead fs-6">Flats in </span></a>
                                <a href=""> <span class="lead fs-6">House for Sale in</span></a>
                                <a href=""> <span class="lead fs-6">Villa in</span></a>
                                <a href=""> <span class="lead fs-6">Plot in</span></a>
                                <a href=""> <span class="lead fs-6">Office Space in</span></a>
                                <a href=""><span class="lead fs-6">Commercial Space in</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Budget </h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Under <i class="fa fa-rupee" aria-hidden="true"></i>50
                                        Lac</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i> 50 Lac - <i
                                            class="fa fa-rupee" aria-hidden="true"></i>1 Cr</span></a>
                                <a href=""> <span class="lead fs-6"><i class="fa fa-rupee" aria-hidden="true"></i>1 Cr - <i
                                            class="fa fa-rupee" aria-hidden="true"></i> 1.5 Cr</span></a>
                                <a href=""> <span class="lead fs-6">Above <i class="fa fa-rupee" aria-hidden="true"></i>1.5
                                        Cr</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Explore</h5>
                                <hr>
                                <a href=""><span class="lead fs-6">Builders in</span></a>
                                <a href=""><span class="lead fs-6">Localities in</span></a>
                                <a href=""><span class="lead fs-6">Projects in</span></a>
                                <a href=""><span class="lead fs-6">Investment in</span></a>
                                <a href=""><span class="lead fs-6">Find an Agent</span></a>
                            </div>
                            <div class="col">
                                <h5 class="lead">Buying Tools</h5>
                                <hr>
                                <a href=""><span class="lead fs-6">PropWorth</span></a>
                                <a href=""><span class="lead fs-6">Rates and Trend</span></a>
                                <a href=""><span class="lead fs-6">Buy vs Rent</span></a>
                                <a href=""><span class="lead fs-6">Tips and Guides</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="dropdown">
                <button class="dropbtn text-black lead fs-5 mb-header__sub__tabs__link js-menu-link active">Help
                    <em class="fa fa-angle-down"></em>
                </button>
                <div class="dropdown-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="">
                                <a href="">
                                    <span class="lead fs-6">Help Center</span>
                                </a>
                                <a href="">
                                    <span class="lead fs-6">Sales enquiry</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                          
        </div>
    </div>
</div>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost:3000/#">Navbar</a
    ><button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item me-2">
          <a class="nav-link" href="http://localhost:3000/#">Buy</a>
          <div class="nav-hover-container position-fixed">
            <div class="nav-hover-section position-absolute">
              <ul class="hovered">
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Topwear</li>
                    <li class="type-data">T-Shirts</li>
                    <li class="type-data">Casual Shirts</li>
                    <li class="type-data">Formal Shirts</li>
                    <li class="type-data">Sweatshirts</li>
                    <li class="type-data">Sweaters</li>
                    <li class="type-data">Jackets</li>
                    <li class="type-data">Blazers &amp; Coats</li>
                    <li class="type-data">Suits</li>
                    <li class="type-data">Rain Jackets</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Indian &amp; Festive Wear</li>
                    <li class="type-data">Kurtas &amp; Kurta Sets</li>
                    <li class="type-data">Sherwanis</li>
                    <li class="type-data">Nehru Jackets</li>
                    <li class="type-data">Dhotis</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Bottomwear</li>
                    <li class="type-data">Jeans</li>
                    <li class="type-data">Casual Trousers</li>
                    <li class="type-data">Formal Trousers</li>
                    <li class="type-data">Shorts</li>
                    <li class="type-data">Track Pants &amp; Joggers</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Innerwear &amp; Sleepwear</li>
                    <li class="type-data">Briefs &amp; Trunks</li>
                    <li class="type-data">Boxers</li>
                    <li class="type-data">Vests</li>
                    <li class="type-data">Sleepwear &amp; Loungewear</li>
                    <li class="type-data">Thermals</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Footwear</li>
                    <li class="type-data">Casual Shoes</li>
                    <li class="type-data">Sports Shoes</li>
                    <li class="type-data">Formal Shoes</li>
                    <li class="type-data">Sneakers</li>
                    <li class="type-data">Sandals &amp; Floaters</li>
                    <li class="type-data">Flip Flops</li>
                    <li class="type-data">Socks</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Sports &amp; Active Wear</li>
                    <li class="type-data">Sports Shoes</li>
                    <li class="type-data">Sports Sandals</li>
                    <li class="type-data">Active T-Shirts</li>
                    <li class="type-data">Track Pants &amp; Shorts</li>
                    <li class="type-data">Tracksuits</li>
                    <li class="type-data">Jackets &amp; Sweatshirts</li>
                    <li class="type-data">Sports Accessories</li>
                    <li class="type-data">Swimwear</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Gadgets</li>
                    <li class="type-data">Smart Wearables</li>
                    <li class="type-data">Fitness Gadgets</li>
                    <li class="type-data">Headphones</li>
                    <li class="type-data">Speakers</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Fashion Accessories</li>
                    <li class="type-data">Wallets</li>
                    <li class="type-data">Belts</li>
                    <li class="type-data">Belts</li>
                    <li class="type-data">Perfumes &amp; Body Mists</li>
                    <li class="type-data">Trimmers</li>
                    <li class="type-data">Deodorants</li>
                    <li class="type-data">
                      Ties, Cufflinks &amp; Pocket Squares
                    </li>
                    <li class="type-data">Accessory Gift Sets</li>
                    <li class="type-data">Caps &amp; Hats</li>
                    <li class="type-data">
                      Mufflers, Scarves &amp; Gloves
                    </li>
                    <li class="type-data">Phone Cases</li>
                    <li class="type-data">Rings &amp; Wristwear</li>
                    <li class="type-data">Helmets</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="http://localhost:3000/#">Women</a>
          <div class="nav-hover-container">
            <div class="nav-hover-section">
              <ul class="hovered">
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Indian &amp; Fusion Wear</li>
                    <li class="type-data">Kurtas &amp; Suits</li>
                    <li class="type-data">Kurtis, Tunics &amp; Tops</li>
                    <li class="type-data">Ethnic Wear</li>
                    <li class="type-data">
                      Leggings, Salwars &amp; Churidars
                    </li>
                    <li class="type-data">Skirts &amp; Palazzos</li>
                    <li class="type-data">Sarees</li>
                    <li class="type-data">Dress Materials</li>
                    <li class="type-data">Lehenga Cholis</li>
                    <li class="type-data">Dupattas &amp; Shawls</li>
                    <li class="type-data">Jackets</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Western Wear</li>
                    <li class="type-data">Dresses</li>
                    <li class="type-data">Jumpsuits</li>
                    <li class="type-data">Tops</li>
                    <li class="type-data">Jeans</li>
                    <li class="type-data">Trousers &amp; Capris</li>
                    <li class="type-data">Shorts &amp; Skirts</li>
                    <li class="type-data">Shrugs</li>
                    <li class="type-data">Sweaters &amp; Sweatshirts</li>
                    <li class="type-data">Jackets &amp; Coats</li>
                    <li class="type-data">Blazers &amp; Waistcoats</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Footwear</li>
                    <li class="type-data">Flats</li>
                    <li class="type-data">Casual Shoes</li>
                    <li class="type-data">Heels</li>
                    <li class="type-data">Boots</li>
                    <li class="type-data">Sports Shoes &amp; Floaters</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Sports &amp; Active Wear</li>
                    <li class="type-data">Clothing</li>
                    <li class="type-data">Footwear</li>
                    <li class="type-data">Sports Accessories</li>
                    <li class="type-data">Sports Equipment</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Lingerie &amp; Sleepwear</li>
                    <li class="type-data">Bra</li>
                    <li class="type-data">Briefs</li>
                    <li class="type-data">Shapewear</li>
                    <li class="type-data">Sleepwear &amp; Loungewear</li>
                    <li class="type-data">Swimwear</li>
                    <li class="type-data">Camisoles &amp; Thermals</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Beauty &amp; Personal Care</li>
                    <li class="type-data">Makeup</li>
                    <li class="type-data">Skincare</li>
                    <li class="type-data">Premium Beauty</li>
                    <li class="type-data">Lipsticks</li>
                    <li class="type-data">Fragrances</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Gadgets</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Jewellery</li>
                    <li class="type-data">Fashion Jewellery</li>
                    <li class="type-data">Fine Jewellery</li>
                    <li class="type-data">Earrings</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="http://localhost:3000/#">Kids</a>
          <div class="nav-hover-container">
            <div class="nav-hover-section">
              <ul class="hovered">
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Boys Clothing</li>
                    <li class="type-data">T-Shirts</li>
                    <li class="type-data">Shirts</li>
                    <li class="type-data">Shorts</li>
                    <li class="type-data">Jeans</li>
                    <li class="type-data">Trousers</li>
                    <li class="type-data">Clothing Sets</li>
                    <li class="type-data">Ethnic Wear</li>
                    <li class="type-data">Track Pants &amp; Pyjamas</li>
                    <li class="type-data">
                      Jacket, Sweater &amp; Sweatshirts
                    </li>
                    <li class="type-data">Part Wear</li>
                    <li class="type-data">Innerwear &amp; Thermals</li>
                    <li class="type-data">Nightwear &amp; Loungewear</li>
                    <li class="type-data">Value Packs</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Girls Clothing</li>
                    <li class="type-data">Dresses</li>
                    <li class="type-data">Tshirts</li>
                    <li class="type-data">Tops</li>
                    <li class="type-data">Clothing Sets</li>
                    <li class="type-data">Dungarees &amp; Jumpsuits</li>
                    <li class="type-data">Trousers &amp; Capris</li>
                    <li class="type-data">Lehenga choli</li>
                    <li class="type-data">Shorts &amp; Skirts</li>
                    <li class="type-data">Tights &amp; Leggings</li>
                    <li class="type-data">Innerwear &amp; Thermals</li>
                    <li class="type-data">
                      Jacket, Sweater &amp; Sweatshirts
                    </li>
                    <li class="type-data">Nightwear &amp; Loungewear</li>
                    <li class="type-data">Value Packs</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Footwear</li>
                    <li class="type-data">Flipflops</li>
                    <li class="type-data">Casual Shoes</li>
                    <li class="type-data">Sports Shoes</li>
                    <li class="type-data">Flats</li>
                    <li class="type-data">Sandals</li>
                    <li class="type-data">School Shoes</li>
                    <li class="type-data">Socks</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Toys</li>
                    <li class="type-data">Learning &amp; Development</li>
                    <li class="type-data">Activity Toys</li>
                    <li class="type-data">Soft Toys</li>
                    <li class="type-data">Action Figure</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Infants</li>
                    <li class="type-data">Bodysuits</li>
                    <li class="type-data">Rompers &amp; Sleepsuits</li>
                    <li class="type-data">Clothing Sets</li>
                    <li class="type-data">Tshirts &amp; Tops</li>
                    <li class="type-data">Dresses</li>
                    <li class="type-data">Winter Wear</li>
                    <li class="type-data">Innerwear &amp; Sleepwear</li>
                    <li class="type-data">Infant Care</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Kids Accessories</li>
                    <li class="type-data">Bags &amp; Backpacks</li>
                    <li class="type-data">Watches</li>
                    <li class="type-data">
                      Jewellery &amp; Hair accessory
                    </li>
                    <li class="type-data">Sunglasses</li>
                    <li class="type-data">Masks &amp; Protective Gears</li>
                    <li class="type-data">Caps &amp; Hats</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Brands</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="http://localhost:3000/#"
            >Home &amp; Living</a
          >
          <div class="nav-hover-container">
            <div class="nav-hover-section">
              <ul class="hovered">
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Bed Linen &amp; Furnishing</li>
                    <li class="type-data">Bedsheets</li>
                    <li class="type-data">Bedding Sets</li>
                    <li class="type-data">Blankets, Quilts &amp; Dohars</li>
                    <li class="type-data">Pillows &amp; Pillow Covers</li>
                    <li class="type-data">Bed Covers</li>
                    <li class="type-data">Diwan Sets</li>
                    <li class="type-data">Chair Pads &amp; Covers</li>
                    <li class="type-data">Sofa Covers</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Flooring</li>
                    <li class="type-data">Carpets</li>
                    <li class="type-data">Floor Mats &amp; Dhurries</li>
                    <li class="type-data">Door Mats</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Bath</li>
                    <li class="type-data">Bath Towels</li>
                    <li class="type-data">Hand &amp; Face Towels</li>
                    <li class="type-data">HeelBeach Towelss</li>
                    <li class="type-data">Towels Set</li>
                    <li class="type-data">Bath Rugs</li>
                    <li class="type-data">Bath Robes</li>
                    <li class="type-data">Bathroom Accessories</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Lamps &amp; Lighting</li>
                    <li class="type-data">Floor Lamps</li>
                    <li class="type-data">Ceiling Lamps</li>
                    <li class="type-data">Table Lamps</li>
                    <li class="type-data">Wall Lamps</li>
                    <li class="type-data">Outdoor Lamps</li>
                    <li class="type-data">String Lights</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Home Décor</li>
                    <li class="type-data">Plants &amp; Planters</li>
                    <li class="type-data">Aromas &amp; Candles</li>
                    <li class="type-data">Clocks</li>
                    <li class="type-data">Mirrors</li>
                    <li class="type-data">Wall Décor</li>
                    <li class="type-data">Festive Decor</li>
                    <li class="type-data">Pooja Essentials</li>
                    <li class="type-data">Wall Shelves</li>
                    <li class="type-data">Fountains</li>
                    <li class="type-data">Showpieces &amp; Vases</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Kitchen &amp; Table</li>
                    <li class="type-data">Dinnerware &amp; Serveware</li>
                    <li class="type-data">Cups and Mugs</li>
                    <li class="type-data">Bakeware &amp; Cookware</li>
                    <li class="type-data">Kitchen Storage &amp; Tools</li>
                    <li class="type-data">Bar &amp; Drinkware</li>
                    <li class="type-data">
                      Table Covers &amp; Furnishings
                    </li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Storage</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Brands</li>
                    <li class="type-data">Home Centre</li>
                    <li class="type-data">Spaces</li>
                    <li class="type-data">D'Decor</li>
                    <li class="type-data">Portico New York</li>
                    <li class="type-data">Story@Home</li>
                    <li class="type-data">Pure Home &amp; Living</li>
                    <li class="type-data">Swayam</li>
                    <li class="type-data">Raymond Home</li>
                    <li class="type-data">Maspar</li>
                    <li class="type-data">Corelle</li>
                    <li class="type-data">Trident</li>
                    <li class="type-data">Cortina</li>
                    <li class="type-data">Random</li>
                    <li class="type-data">Ellementry</li>
                    <li class="type-data">ROMEE</li>
                    <li class="type-data">SEJ by Nisha Gupta</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="http://localhost:3000/#">Beauty</a>
          <div class="nav-hover-container">
            <div class="nav-hover-section">
              <ul class="hovered">
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Makeup</li>
                    <li class="type-data">Lipstick</li>
                    <li class="type-data">Lip Gloss</li>
                    <li class="type-data">Lip Liner</li>
                    <li class="type-data">Mascara</li>
                    <li class="type-data">Eyeliner</li>
                    <li class="type-data">Kajal</li>
                    <li class="type-data">Eyeshadow</li>
                    <li class="type-data">Foundation</li>
                    <li class="type-data">Primer</li>
                    <li class="type-data">Concealer</li>
                    <li class="type-data">Compact</li>
                    <li class="type-data">Nail Polish</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Skincare, Bath &amp; Body</li>
                    <li class="type-data">Face Moisturiser</li>
                    <li class="type-data">Cleanser</li>
                    <li class="type-data">Masks &amp; Peel</li>
                    <li class="type-data">Sunscreen</li>
                    <li class="type-data">Serum</li>
                    <li class="type-data">Face Wash</li>
                    <li class="type-data">Eye Cream</li>
                    <li class="type-data">Lip Balm</li>
                    <li class="type-data">Body Lotion</li>
                    <li class="type-data">Body Wash</li>
                    <li class="type-data">Body Scrub</li>
                    <li class="type-data">Hand Cream</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Haircare</li>
                    <li class="type-data">Shampoo</li>
                    <li class="type-data">Conditioner</li>
                    <li class="type-data">Hair Cream</li>
                    <li class="type-data">Hair Oil</li>
                    <li class="type-data">Hair Color</li>
                    <li class="type-data">Hair Serum</li>
                    <li class="type-data">Hair Accessory</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Fragrances</li>
                    <li class="type-data">Perfume</li>
                    <li class="type-data">Deodorant</li>
                    <li class="type-data">Body Mist</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Appliances</li>
                    <li class="type-data">Hair Straightener</li>
                    <li class="type-data">Hair Dryer</li>
                    <li class="type-data">Epilator</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Men's Grooming</li>
                    <li class="type-data">Trimmers</li>
                    <li class="type-data">Beard Oil</li>
                    <li class="type-data">Hair Wax</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Beauty Gift &amp; Makeup Set</li>
                  </ul>
                </li>
                <li class="column">
                  <ul class="nav-block">
                    <li class="type-title">Brands</li>
                    <li class="type-data">Lakme</li>
                    <li class="type-data">Maybelline</li>
                    <li class="type-data">LOreal</li>
                    <li class="type-data">Philips</li>
                    <li class="type-data">Bath &amp; Body Works</li>
                    <li class="type-data">THE BODY SHOP</li>
                    <li class="type-data">Biotique</li>
                    <li class="type-data">Mamaearth</li>
                    <li class="type-data">MCaffeine</li>
                    <li class="type-data">Nivea</li>
                    <li class="type-data">Lotus Herbals</li>
                    <li class="type-data">LOreal Professionnel</li>
                    <li class="type-data">KAMA AYURVEDA</li>
                    <li class="type-data">M.A.C</li>
                    <li class="type-data">Forest Essentials</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav> -->